/** @format */

.footerContainer {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
	width: 40%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.footerContainer h1 {
	color: #21bfda;
	font-weight: 300;
	margin-bottom: 20px;
}

.footerContainer .buttonFooter a {
	text-decoration: none;
	color: white;
	padding: 10px;
	background: #f78c52;
	border-radius: 10px;
}
.footerContainer .buttonFooter {
	margin-top: 50px;
	display: flex;
	justify-self: center;
	align-self: center;
}
